body,html {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:white; 
    padding:0;
    scroll-behavior:smooth;
    /* Light background for contrast */
}
/* Header container */
.header {   
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image:linear-gradient(to right,#2c3e50 ,#0663c8); /* Black background */
    padding: 7px 10px;
    width:100%;
    height:40px;
}


.logo {
    width: 53px;
    height: auto;
    margin-right: 10px;
}

/* HUB container styling */
.hub-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Designing the HUB text */
.hub-text {
    font-family: Arial, sans-serif;
    font-size: 2.1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(206, 203, 203);
    background-image:radial-gradient(circle,#1abc9c ,#0663c8);; /* Blue background */
    padding: 1px 10px;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    position: relative;
    text-align: center;
    /* Adding shadow directly to the text */
    text-shadow: 5px 2.5px 2px black;
}

section{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.navbar{
    top:54px;
    position:fixed;
    width:100%;
    height:30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:#338;
    z-index:1000;
    display:flex;
    justify-content:center;
    bow-shadow:0px 4px 6px rgba(0,0,0,0.1);
    align-items:center;
    text-align:center;
}

.navbar ul{
    life-style:none;
    display:flex;
    gap:50px;

}

.navbar li{
    position:relative;
    display:inline;
}

.navbar a{
    color:white;
    text-decoration:none;
    padding:6px 30px;
    transition:all o.3s ease;
}

.navbar a:hover{
    color:#ff9800;
    background-color:rgba(255,255,255,0.1);
    border-radius:5px;
}

.navbar a.active{
    position:relative;
    color:#ff9800;
}


.home{
    background-color:#f4f4;
}

.category{
    background-color:#ddd7;
}